<div id="scroller">
  <p-virtualScroller [value]="locales" scrollHeight="500px">

    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-center">
        Locales
      </div>
    </ng-template>

    <ng-template let-locale pTemplate="item" let-i="index">

      <div class="card locale-div mt-2">
        <div (click)="flyTo(locale.lat, locale.lng)">
          <div class="card-title m-lg-2">
            <p id="locale-text-address"> {{ locale.name | uppercase }} </p>
          </div>
          <div class="card-body">
            <p> {{ locale.address }} </p>
          </div>
        </div>

        <div class="card-footer">
          <a id="btn-locale" class="btn btn-primary" routerLink="/locale/{{ locale.id }}/tables">
            <i id="icon" class="pi pi-arrow-circle-right">
            </i>
          </a>
        </div>
      </div>

    </ng-template>
  </p-virtualScroller>
</div>
