<form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1 class="h3 mb-3 fw-normal">Please Login</h1>

  <div class="form-floating">
    <input type="text" formControlName="email" pInputText placeholder="Email address" required>
  </div>
  <div class="form-floating">
    <input type="text" formControlName="password" pInputText placeholder="Password" required>
  </div>

  <div class="checkbox mb-3 mt-3">
    <label>
      No account ?
      <a routerLink="/register"> Register</a>
    </label>
  </div>

  <button class="w-75 btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
