<div class="container mt-3" *ngIf="order">
  <div cdkDropListGroup>
    <div class="drinks-container">
      <h2>Available drinks</h2>

      <div
        cdkDropList #productsList="cdkDropList"
        [cdkDropListData]="drinks"
        [cdkDropListConnectedTo]="[doneList]"
        class="drinks-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let drink of drinks">
          <mat-card cdkDrag class="card-box">
            <div>
              <mat-card-title>{{drink.brandName}}</mat-card-title>
              <mat-card-subtitle>{{drink.category}}</mat-card-subtitle>
              <mat-card-content>{{drink.price | currency: 'MKD' + ' '}}</mat-card-content>
            </div>

          </mat-card>
        </div>
      </div>
    </div>

    <div class="drinks-container">
      <h2>Order number: #{{order?.id}}</h2>
      <div
        cdkDropList #doneList="cdkDropList"
        [cdkDropListData]="drinksInOrder"
        class="drinks-list"
        [cdkDropListConnectedTo]="[productsList]"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let drink of drinksInOrder; index as i">
          <mat-card cdkDrag class="card-box">
            <mat-card-title>{{drink.drink.brandName}}</mat-card-title>
            <mat-card-subtitle>{{drink.drink.category}}</mat-card-subtitle>

            <form>
              <mat-form-field id="quantity" class="example-full-width" style="width:15%">
                <input [formControl]="controls.get(drink.id)" matInput type="number" min="0" placeholder="Quantity">
              </mat-form-field>
              <button type="submit" mat-stroked-button color="primary"
                      (click)="updateDrinkQuantityInOrder(drink.id, drink.order.id)">Add to order
              </button>
            </form>
          </mat-card>
        </div>
        <div class="m-3">
          <span id="total-price">Total: {{this.totalPrice | currency: 'MKD' + ' '}} </span>
          <button *ngIf="drinksInOrder.length > 0 && totalPrice!=0" mat-raised-button color="primary"
                  (click)="closeOrder()">Checkout
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<p-toast></p-toast>



