<div class="container">
  <p-pickList [source]="drinks" [target]="drinksInOrder" sourceHeader="Available Drinks" targetHeader="Order number: #"
              [dragdrop]="true"
              [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}" filterBy="name"
              sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
    <ng-template let-drink pTemplate="item" class="row">
      <div class="product-item col-10">
        <!--        <div class="image-container">-->
        <!--          &lt;!&ndash;          <i class="pi">{{drink.brandName}}</i>&ndash;&gt;-->
        <!--          &lt;!&ndash;          <img src="assets/showcase/images/demo/product/{{drink.image}}" [alt]="drink.name" class="product-image" />&ndash;&gt;-->
        <!--        </div>-->
        <div class="product-list-detail">
          <h5 class="mb-2">{{drink.brandName}}</h5>
          <i class="pi pi-tag product-category-icon"></i>
          <span class="product-category">{{drink.category | lowercase}}</span>
        </div>
        <div class="product-list-action">
          <h6 class="mb-2">{{drink.price}}MKD</h6>
          <span [class]="'product-badge status-' + drink.category.toLowerCase()">{{drink.category}}</span>
        </div>
      </div>

    </ng-template>
  </p-pickList>
</div>

