<div class="container">
  <p-table [value]="employees" dataKey="id" styleClass="p-datatable-employees" [rowHover]="true"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0">
    <ng-template pTemplate="caption">
      <div class="table-header d-flex justify-content-between">
        <div class="mt-3">
          List of Employees
        </div>

        <app-search (valueSearch)="onSearch($event)"></app-search>

      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          <div class="flex justify-content-between align-items-center">
            ID
            <p-sortIcon field="id"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-between align-items-center">
            Name
            <p-sortIcon field="name"></p-sortIcon>
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Email
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Phone Number
          </div>
        </th>
        <th pSortableColumn="role">
          <div class="flex justify-content-between align-items-center">
            Role
            <p-sortIcon field="role"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="date">
          <div class="flex justify-content-between align-items-center">
            Date
            <p-sortIcon field="date"></p-sortIcon>
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Works at
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">ID</span>
          {{ employee.id }}
        </td>
        <td>
          <span class="p-column-title">Name</span>
          {{ employee.name }}
        </td>
        <td>
          <span class="p-column-title">Email</span>
          {{ employee.email }}
        </td>
        <td>
          <span class="p-column-title">Phone Number</span>
          {{ employee.phoneNumber | phone }}
        </td>
        <td>
          {{ employee.role | uppercase }}
        </td>
        <td>
          <span class="p-column-title">Date</span>
          {{employee.dateEmployed | date: 'dd/MM/yyyy'}}
        </td>
        <td>
          <ng-container *ngIf="employee.worksInLocale">
            {{ employee.worksInLocale.name }}
          </ng-container>
          <ng-container *ngIf="!employee.worksInLocale">
            None
          </ng-container>
        </td>
        <td style="text-align: center">

          <button pButton type="button" class="p-button-secondary" icon="pi pi-sitemap"
                  (click)="op.toggle($event)"></button>

          <p-overlayPanel #op>
            <ng-template pTemplate="true">
              <p><b>Add employee to locale</b></p>
              <div *ngFor="let l of locales">
                <div (click)="addEmployeeToLocale(employee.id, l.id)" class="locale-div p-2">
                  <p>{{ l.name }}</p>
                </div>
              </div>
            </ng-template>
          </p-overlayPanel>

        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9">
          <p-skeleton width="100%" height="3rem"></p-skeleton>
        </td>
      </tr>
      <tr>
        <td colspan="9">
          <p-skeleton width="100%" height="3rem"></p-skeleton>
        </td>
      </tr>
      <tr>
        <td colspan="9">
          <p-skeleton width="100%" height="3rem"></p-skeleton>
        </td>
      </tr>
    </ng-template>

  </p-table>

</div>
