<div class="container">
  <p-table [value]="employees" dataKey="id" styleClass="p-datatable-employees" [rowHover]="true"
           [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0">
    <ng-template pTemplate="caption">
      <div class="table-header">
        List of Employees
        <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Global Search"/>
            </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          <div class="flex justify-content-between align-items-center">
            ID
            <p-sortIcon field="id"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-between align-items-center">
            Name
            <p-sortIcon field="name"></p-sortIcon>
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Email
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Phone Number
          </div>
        </th>
        <!--        <th pSortableColumn="balance">-->
        <!--          <div class="flex justify-content-between align-items-center">-->
        <!--            Balance-->
        <!--            <p-sortIcon field="balance"></p-sortIcon>-->
        <!--          </div>-->
        <!--        </th>-->
        <th pSortableColumn="role">
          <div class="flex justify-content-between align-items-center">
            Role
            <p-sortIcon field="role"></p-sortIcon>
          </div>
        </th>
        <!--        <th pSortableColumn="activity">-->
        <!--          <div class="flex justify-content-between align-items-center">-->
        <!--            Activity-->
        <!--          </div>-->
        <!--        </th>-->
        <th pSortableColumn="locale">
          <div class="flex justify-content-between align-items-center">
            Works at
            <p-sortIcon field="locale"></p-sortIcon>
          </div>
        </th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">ID</span>
          {{ employee.id }}
        </td>
        <td>
          <span class="p-column-title">Name</span>
          {{ employee.name }}
        </td>
        <td>
          <span class="p-column-title">Email</span>
          {{ employee.email }}
        </td>
        <!--        <td>-->
        <!--          <span class="p-column-title">Date</span>-->
        <!--          {{employee.date | date: 'MM/dd/yyyy'}}-->
        <!--        </td>-->
        <td>
          <span class="p-column-title">Phone Number</span>
          {{ employee.phoneNumber }}
        </td>
        <!--        <td>-->
        <!--          {{ employee.balance | currency:'USD':'symbol' }}-->
        <!--        </td>-->
        <td>
          {{ employee.role | uppercase }}
        </td>
        <!--        <td>-->
        <!--          <span class="p-column-title">Activity</span>-->
        <!--          <p-progressBar [value]="20" [showValue]="false"></p-progressBar>-->
        <!--        </td>-->
        <td>
          <ng-container *ngIf="employee.worksInLocale">
            {{ employee.worksInLocale.name }}
          </ng-container>
          <ng-container *ngIf="!employee.worksInLocale">
            None
          </ng-container>
        </td>
        <td style="text-align: center">
          <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"
                  (click)="op.toggle($event)"></button>
          <p-overlayPanel #op>
            <ng-template pTemplate>
              <form [formGroup]="addToLocaleForm" (ngSubmit)="addEmployeeToLocale()" class="mt-3">
                <span class="p-float-label">
                    <input id="float-localeId" formControlName="localeId" type="text" pInputText required>
                    <label for="float-localeId">Locale Id</label>
                </span>
                <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" [disabled]="!addToLocaleForm.valid">Add
                </button>
              </form>
            </ng-template>
          </p-overlayPanel>
        </td>
      </tr>
    </ng-template>

    <ng-container *ngIf="employees.length == 0">
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No customers found.</td>
        </tr>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="isLoading">
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">
            <p-skeleton width="100%" height="3rem"></p-skeleton>
          </td>
        </tr>
        <tr>
          <td colspan="9">
            <p-skeleton width="100%" height="3rem"></p-skeleton>
          </td>
        </tr>
        <tr>
          <td colspan="9">
            <p-skeleton width="100%" height="3rem"></p-skeleton>
          </td>
        </tr>
      </ng-template>
    </ng-container>
  </p-table>

</div>
