#bg-layout {
    position: relative;
    background-image: url(../../assets/images/tables-layout.png);
    transform: scale(60%);
    height: 1000px;
    width: auto;
    background-size: cover;
}   

#t1{
    position: absolute;
    bottom: 37%;
    left: 8%;
}

.popover {
    position: absolute;
    z-index: 100;
  }

