<form class="form-register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1 class="h3 mb-3 fw-normal">Please Register</h1>

  <div>
    <input type="text" formControlName="name" pInputText placeholder="Full Name" required>
  </div>
  <div>
    <input type="text" formControlName="email" pInputText placeholder="Email address" required>
  </div>
  <div class="form-floating">
    <p-inputMask mask="(999) 999-9999" formControlName="phoneNumber" placeholder="Phone number"></p-inputMask>
  </div>
  <div class="form-floating">
    <input type="password" formControlName="password" pInputText placeholder="Password" required>
  </div>
  <div class="form-floating">
    <input type="password" formControlName="confirmPassword" pInputText placeholder="Confirm Password" required>
  </div>

  <div class="checkbox mb-3 mt-3">
    <label>
      Have an account ?
      <a routerLink="/login"> Login</a>
    </label>
  </div>

  <button class="w-75 btn btn-lg btn-primary" type="submit" [disabled]="!registerForm.valid">Register</button>
</form>
