.form-register {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-register input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-register input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#confirmPassword {
  margin-bottom: 20px;
}
